/**feel free to change colors/format!!**/

.navbar-default{
  background: #4b2e83;
}

.navbar-default .navbar-brand{
    color: #b7a57a;
    size: 18px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 900;
  
}

#page_2_header {
  color: #b7a57a;
  font-family: "Lucida Console", Courier, monospace;
}


#page_2_sidebar {
  color: #4b2e83;
  border-width: 5;
  border-color: white;
}