/**feel free to change colors/format!!**/

.navbar-default{
  background: #4b2e83;
}

.navbar-default .navbar-brand{
    color: #b7a57a;
    size: 18px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 900;
  
}

.container { 
  overflow: hidden; 
} 

#header {
  color: #85754d;
  size: 12px;
  font-family: "Lucida Console", Courier, monospace;
}

#sidebar {
  color: #4b2e83;
  border-width: 5;
  border-color: white;
}


#p3_piechart {
  margin-top: 24px;
}

#second_header {
  color: #4b2e83;
  size: 18px;
  margin-top: 18px;
}

#fun_facts {
  margin-top: 64px;
  color: #4b2e83;
}